In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [2]:
#Facebook stock prices

page = requests.get('https://finance.yahoo.com/quote/FB/history?period1=1356994800&period2=1556488800&interval=1d&filter=history&frequency=1d&guccounter=1')
print(page.status_code)

soup=BeautifulSoup(page.text, 'html.parser')
stocks = soup.find_all('tr', class_='BdT Bdc($c-fuji-grey-c) Ta(end) Fz(s) Whs(nw)')
print(stocks[0].text)


#FB stock prices
dates = []
close_price = []
volume = []

for stock in stocks:
    dates.append(stock.find_all('td')[0].text)
    close_price.append(stock.find_all('td')[4].text)
    volume.append(stock.find_all('td')[6].text)

cols = {'Date': dates, 'Close price':close_price, 'Volume':volume}
df_FB=pd.DataFrame(cols)
df_FB.set_index('Date', inplace=True)
df_FB

200
Apr 26, 2019192.50192.90189.09191.49191.4922,075,000

             Close price      Volume
Date
Apr 26, 2019      191.49  22,075,000
Apr 25, 2019      193.26  54,148,800
Apr 24, 2019      182.58  37,289,900
Apr 23, 2019      183.78  19,954,800
Apr 22, 2019      181.44  13,389,900
Apr 18, 2019      178.28  11,655,600
Apr 17, 2019      178.78   9,973,700
Apr 16, 2019      178.87  11,215,200
Apr 15, 2019      179.65  10,834,800
Apr 12, 2019      179.10  12,329,800
Apr 11, 2019      177.51   8,071,000
Apr 10, 2019      177.82  11,701,500
Apr 09, 2019      177.58  19,751,000
Apr 08, 2019      174.93   7,297,400
Apr 05, 2019      175.72   9,594,100
Apr 04, 2019      176.02  17,847,700
Apr 03, 2019      173.54  27,590,100
Apr 02, 2019      174.20  23,946,500
Apr 01, 2019      168.70  10,381,500
Mar 29, 2019      166.69  13,455,500
Mar 28, 2019      165.55  10,689,200
Mar 27, 2019      165.87  10,620,300
Mar 26, 2019      167.68  15,437,900
Mar 25, 2019      166.29  12,631,200
Mar 22, 2019      164.34  16,389,200
Mar 21, 2019      166.08  16,223,000
Mar 20, 2019      165.44  20,211,500
Mar 19, 2019      161.57  25,611,500
Mar 18, 2019      160.47  37,524,200
Mar 15, 2019      165.98  37,135,400
...                  ...         ...
Jan 15, 2019      148.95  24,069,000
Jan 14, 2019      145.39  20,520,300
Jan 11, 2019      143.80  12,908,000
Jan 10, 2019      144.20  16,125,000
Jan 09, 2019      144.23  22,205,900
Jan 08, 2019      142.53  26,263,800
Jan 07, 2019      138.05  20,089,300
Jan 04, 2019      137.95  29,002,100
Jan 03, 2019      131.74  22,700,800
Jan 02, 2019      135.68  28,146,200
Dec 31, 2018      131.09  24,625,300
Dec 28, 2018      133.20  22,627,600
Dec 27, 2018      134.52  31,202,500
Dec 26, 2018      134.18  39,723,400
Dec 24, 2018      124.06  22,066,000
Dec 21, 2018      124.95  56,901,500
Dec 20, 2018      133.40  40,297,900
Dec 19, 2018      133.24  57,404,900
Dec 18, 2018      143.66  24,709,100
Dec 17, 2018      140.19  24,334,000
Dec 14, 2018      144.06  21,785,800
Dec 13, 2018      145.01  18,148,600
Dec 12, 2018      144.50  23,696,900
Dec 11, 2018      142.08  20,300,300
Dec 10, 2018      141.85  26,422,200
Dec 07, 2018      137.42  21,195,500
Dec 06, 2018      139.63  28,218,100
Dec 04, 2018      137.93  30,307,400
Dec 03, 2018      141.09  24,819,200
Nov 30, 2018      140.61  25,732,600

[100 rows x 2 columns]

### Question 1:
code above  scrapes only data from november 2018 till april 2019. But if we scroll down scraped page https://finance.yahoo.com/quote/FB/history?period1=1356994800&period2=1556488800&interval=1d&filter=history&frequency=1d&guccounter=1 there are data since 2013 but they are not scraped. How to scrape all these data (from 01-01-2013 till 30-04-2019)?

The same with Google data in the cell below

In [3]:
#Google stock prices
page = requests.get('https://finance.yahoo.com/quote/GOOG/history?period1=1337292000&period2=1556488800&interval=1d&filter=history&frequency=1d')
print(page.status_code)

soup_G=BeautifulSoup(page.text, 'html.parser')
stocks_G = soup_G.find_all('tr', class_='BdT Bdc($c-fuji-grey-c) Ta(end) Fz(s) Whs(nw)')
print(stocks_G[0].text)


dates_G = []
close_price_G = []
volume_G = []

for stock_G in stocks_G:
    dates_G.append(stock_G.find_all('td')[0].text)
    close_price_G.append(stock_G.find_all('td')[4].text)
    volume_G.append(stock_G.find_all('td')[6].text)

cols_G = {'Date': dates_G, 'Close price':close_price_G, 'Volume':volume_G}
df_G=pd.DataFrame(cols_G)
df_G.set_index('Date', inplace=True)
df_G.head()
df_G.tail()

200
Apr 26, 20191,269.001,273.071,260.321,272.181,272.181,241,400

             Close price     Volume
Date
Dec 07, 2018    1,036.58  2,101,200
Dec 06, 2018    1,068.73  2,769,200
Dec 04, 2018    1,050.82  2,345,200
Dec 03, 2018    1,106.43  1,991,200
Nov 30, 2018    1,094.43  2,580,200


### Question 2
In the cells below I try to scrape the same type of data for APPLE. 
Here there is some difference in HTML code comparing to Facebook page, I've not managed to scrape it correctly.

Why "list index out of range?"

In [21]:
#AAPL stock prices
page = requests.get('https://finance.yahoo.com/quote/AAPL/history?period1=1337292000&period2=1556488800&interval=1d&filter=history&frequency=1d')
print(page.status_code)


soup_AP = BeautifulSoup(page.text, 'html.parser')
stocks_AP = soup_AP.find_all('tr', class_="BdT Bdc($c-fuji-grey-c) Ta(end) Fz(s) Whs(nw)")
print(stocks_AP[0].text)


dates_AP = []
close_price_AP = []
volume_AP = []

for stock_AP in stocks_AP:
    dates_AP.append(stock_AP.find_all('td')[0].text)
    close_price_AP.append(stock_AP.find_all('td')[4].text)
    volume_AP.append(stock_AP.find_all('td')[6].text)

200
Apr 26, 2019204.90205.00202.12204.30204.3018,649,100

IndexError: list index out of range

In [19]:
#AAPL stock prices
page = requests.get('https://finance.yahoo.com/quote/AAPL/history?period1=1337292000&period2=1556488800&interval=1d&filter=history&frequency=1d')
print(page.status_code)

soup_AP = BeautifulSoup(page.text, 'html.parser')
stocks_AP = soup_AP.find_all('tr', class_="BdT Bdc($c-fuji-grey-c) Ta(end) Fz(s) Whs(nw)")
print(stocks_AP[0].text)


dates_AP = []
close_price_AP = []
volume_AP = []

for stock_AP in stocks_AP:
    dates_AP.append(stock_AP.find_all('td')[0].text)  

prices = stocks_AP.find_all('span', 'data-reactid', '/td')

200
Apr 26, 2019204.90205.00202.12204.30204.3018,649,100

AttributeError: ResultSet object has no attribute 'find_all'. You're probably treating a list of items like a single item. Did you call find_all() when you meant to call find()?

https://finance.yahoo.com/quote/AAPL/history?period1=1337292000&period2=1556488800&interval=1d&filter=history&frequency=1d&guccounter=1

### Question 3
Is there a possibility to scrape data from graph?

https://www.macrotrends.net/stocks/charts/AMZN/amazon/market-cap
https://www.macrotrends.net/stocks/charts/AAPL/apple/market-cap

I would need it in format:

date  market_capitalisation
...    ...
...    ...